<div class="main-section">
    <div class="main-section-container w-container">
        <app-chat [selfUsername]="selfUsername"></app-chat>
        <div class="game-container">
            <div *ngIf="gLoaded" class="grille">
                <div class="grille-line" *ngFor="let gline of grille">
                    <div [class]="gcase.selected?'grille-case-selected':'grille-case'" *ngFor="let gcase of gline" (click)="select(gcase)">
                        <div class="grille-letter" [class]="gcase.position">{{ gcase.lettre }}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="!gLoaded" class="grille grille-case">
                <img src="assets/oval.svg" alt="">
            </div>
            <div class="mot-container">
                <div><strong>Mot</strong></div>
                <div class="text-block">{{ returnMot() }}</div>
                <a href="#" (click)="sendWord()" *ngIf="returnMot().length>0" class="send-button-container w-inline-block" style="color: #333" [matTooltip]="'Envoyer le mot '+ returnMot() +' au serveur'">
                    <mat-icon>send</mat-icon>
                </a>
            </div>
        </div>
        <app-session-information></app-session-information>
    </div>
</div>