<div class="chat-container">
    <h3 class="heading">Utilisateurs dans la partie</h3>
    <div class="player-list">
        <ul class="players w-list-unstyled">
            <li class="player" *ngFor="let user of connectedUsers">
                <img [src]='"https://identicon-api.herokuapp.com/" + user.username + "/32?format=png"' width="32" class="user-pp">
                <div class="username">{{ user.username }} {{ (user.username === selfUsername) ? "(Moi)" : ""}}</div>
                <a *ngIf="selfUsername !== user.username" href="#" class="w-inline-block" [matTooltip]="'Envoyer un message privé à ' + user.username" style="color: #333" (click)="createChatRoom(user)">
                    <mat-icon>mail</mat-icon>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <h3 class="heading">Messagerie instantanné</h3>
    </div>
    <div class="chat">
        <div class="chatrooms-container">
            <a href="#" [matBadge]="cr.unreadCounter" [matBadgeHidden]="isBadgeHidden(cr)" matBadgePosition="below after" class="user-pp-container w-inline-block" *ngFor="let cr of chatRooms" (click)="selectChatRoom(cr)" style="color: #333">


                <mat-icon *ngIf="cr.name === 'General'" [ngClass]="getChatRoomClass(cr)" matTooltip="Conversation générale">device_hub</mat-icon>
                <img *ngIf="cr.name !== 'General'" [src]='"https://identicon-api.herokuapp.com/" + cr.name + "/32?format=png"' width="32" [ngClass]="getChatRoomClass(cr)">
            </a>
        </div>


        <div class="messaging-container">
            <div class="messages-container">
                <ul class="unordered-list w-list-unstyled">
                    <li>
                        <div [ngClass]="getMessageClass(message)" *ngFor="let message of getSelectedRoomMessages()">
                            <img [src]='"https://identicon-api.herokuapp.com/" + message.username + "/32?format=png"' width="32" class="user-pp">
                            <div class="message-text">
                                <div class="message-text-text">{{ message.content }}</div>
                            </div>
                            <div class="message-date">
                                <div class="time-text">{{ message.send_date | date:'yyyy-MM-dd HH:mm' }}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="send-message">
                <div class="form-block w-form">
                    <mat-form-field>
                        <input matInput placeholder="Exprimez vous" type="text" class="text-field-2 w-input" maxlength="256" name="name" data-name="Name" id="name" [(ngModel)]="userMessage">
                    </mat-form-field>
                    <button *ngIf="userMessage.length>0" mat-icon-button (click)="sendMessage()" [matTooltip]="'Envoyer votre message à' + getChatRoomName()">
          <mat-icon aria-label="Example icon-button with a heart icon" >send</mat-icon>
        </button>
                </div>
            </div>
        </div>
    </div>
</div>