<div class="chat-container">
    <h3 class="heading">Utilisateurs dans la partie</h3>
    <div class="player-list">
        <ul class="players w-list-unstyled">
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
            <li class="player">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
                <div class="username">Misteryagci</div>
                <a href="#" class="w-inline-block">
                    <img src="images/ic_email_black_24px.svg">
                </a>
            </li>
        </ul>
    </div>
    <div>
        <h3 class="heading">Messagerie instantanné</h3>
    </div>
    <div class="chat">
        <div class="chatrooms-container">
            <a href="#" class="user-pp-container w-inline-block">
                <img src="images/ic_device_hub_black_24px.svg" width="32" class="user-pp selected">
            </a>
            <a href="#" class="user-pp-container w-inline-block">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
            </a>
            <a href="#" class="user-pp-container w-inline-block">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
            </a>
            <a href="#" class="user-pp-container w-inline-block">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
            </a>
            <a href="#" class="user-pp-container w-inline-block">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
            </a>
            <a href="#" class="user-pp-container w-inline-block">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
            </a>
            <a href="#" class="user-pp-container w-inline-block">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
            </a>
            <a href="#" class="user-pp-container w-inline-block">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
            </a>
            <a href="#" class="user-pp-container w-inline-block">
                <img src="images/identiconMrY.png" width="32" class="user-pp">
            </a>
        </div>


        <div class="messaging-container">
            <div class="messages-container">
                <ul class="unordered-list w-list-unstyled">
                    <li>
                        <div class="others-message-line">
                            <img src="images/identiconMrY.png" width="32" class="user-pp">
                            <div class="message-text">
                                <div class="message-text-text">Hello world!</div>
                            </div>
                            <div class="message-date">
                                <div class="time-text">01:50</div>
                            </div>
                        </div>
                        <div class="others-message-line">
                            <img src="images/identiconMrY.png" width="32" class="user-pp">
                            <div class="message-text">
                                <div class="message-text-text">Hello world!</div>
                            </div>
                            <div class="message-date">
                                <div class="time-text">01:50</div>
                            </div>
                        </div>
                        <div class="my-message-line">
                            <div class="message-date">
                                <div class="time-text">01:50</div>
                            </div>
                            <div class="message-text">
                                <div class="my-message-text-text">Hello world!</div>
                            </div>
                            <img src="images/identicon.png" width="32" class="user-pp">
                        </div>
                        <div class="others-message-line">
                            <img src="images/identiconMrY.png" width="32" class="user-pp">
                            <div class="message-text">
                                <div class="message-text-text">Hello world!</div>
                            </div>
                            <div class="message-date">
                                <div class="time-text">01:50</div>
                            </div>
                        </div>
                        <div class="others-message-line">
                            <img src="images/identiconMrY.png" width="32" class="user-pp">
                            <div class="message-text">
                                <div class="message-text-text">Hello world!</div>
                            </div>
                            <div class="message-date">
                                <div class="time-text">01:50</div>
                            </div>
                        </div>
                        <div class="others-message-line">
                            <img src="images/identiconMrY.png" width="32" class="user-pp">
                            <div class="message-text">
                                <div class="message-text-text">Hello world!</div>
                            </div>
                            <div class="message-date">
                                <div class="time-text">01:50</div>
                            </div>
                        </div>
                        <div class="others-message-line">
                            <img src="images/identiconMrY.png" width="32" class="user-pp">
                            <div class="message-text">
                                <div class="message-text-text">Hello world!</div>
                            </div>
                            <div class="message-date">
                                <div class="time-text">01:50</div>
                            </div>
                        </div>
                        <div class="others-message-line">
                            <img src="images/identiconMrY.png" width="32" class="user-pp">
                            <div class="message-text">
                                <div class="message-text-text">Hello world!</div>
                            </div>
                            <div class="message-date">
                                <div class="time-text">01:50</div>
                            </div>
                        </div>
                        <div class="others-message-line">
                            <img src="images/identiconMrY.png" width="32" class="user-pp">
                            <div class="message-text">
                                <div class="message-text-text">Hello world!</div>
                            </div>
                            <div class="message-date">
                                <div class="time-text">01:50</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="send-message">
                <div class="form-block w-form">
                    <mat-form-field>
                        <input matInput placeholder="Exprimez vous" type="text" class="text-field-2 w-input" maxlength="256" name="name" data-name="Name" id="name">
                    </mat-form-field>
                    <button mat-icon-button (click)="sendMessage()">
          <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="Envoyer votre message">send</mat-icon>
        </button>
                </div>
            </div>
        </div>
    </div>
</div>